@model ForgetPasswordViewModel

@{
    ViewData["Title"] = "ForgetPassword";
    Layout = "~/Views/Shared/_AuthLayout.cshtml";
}


<div class="main-agileinfo">
	<div class="agileits-top">
		<form asp-action="SendResetPasswordUrl">
			<div asp-validation-summary="ModelOnly"></div>
			<input class="text email" asp-for="Email" placeholder="Email" required="">

			<input type="submit" value="Reset Password">
		</form>
		<p>Don't You have an Account? <a asp-action="SignUp"> Register Now!</a></p>
		<p> <a asp-action="ForgetPassword"> Forget Password!</a></p>
	</div>
</div>


@section validationScriptSection {
	<partial name="_ValidationScriptsPartial" />
}


